version: '3.8'
services:
  api:
    build: .
    container_name: library-api
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/library_db
      SPRING_DATASOURCE_USERNAME: ${db_username}
      SPRING_DATASOURCE_PASSWORD: ${db_password}

  postgres:
    image: postgres:latest
    container_name: library-postgres
    environment:
      POSTGRES_DB: library_db
      POSTGRES_USER: ${db_username}
      POSTGRES_PASSWORD: ${db_password}
    volumes:
      - postgres-data:/var/lib/postgresql/data
volumes:
  postgres-data: