version: '3.8'
services:
  postgres:
    image: postgres:latest
    container_name: library-postgres
    environment:
      POSTGRES_DB: library_db
      POSTGRES_USER: ${db_username}
      POSTGRES_PASSWORD: ${db_password}
    ports:
        - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
volumes:
  postgres-data: